
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Geo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/Star_8bit_BG.png);
    height: 100vb;
    margin: 0;
    padding: 0;
}

@keyframes star_animation {
    0%{
        background-position: 0px;
    }

    100%{
        background-position: 0 10000px; /* end after exactly one image width */
    }
}

@keyframes movimiento_nave {
    0%{
        padding: 80px 100px 0px 0px;
    }
    50%{
        padding: 80px 0px 0px 100px;
    }
    100%{
        padding: 80px 100px 0px 0px;
    }
}


.movimiento_nave {
    animation:movimiento_nave 5s infinite ease-in-out;
}

.star_animation {
    animation:star_animation 180s infinite linear;
}

header .img_header {
    width: 200px;
    object-fit: contain;
    margin: 0 auto;
    padding-top: 25vb;    
}
header .nave {
    max-width: 100px;
    object-fit: contain;
    margin: 0 auto;
    padding-top: 80px; 
}
header .nave img {
    width: 100px;
}

header img {
    width: 200px;
}

header h2, header p {
    text-align: center;
    margin: 20px 0 10px 0;
}

header h2 {
    padding-top: 0px;
   font-weight: 400;
}
p {
    color: #f033c1;
}
.igicon {
    width: 40px;
    transition: ease-in-out 0.2s;
    
}

.center {
    width: 40px;
    margin: 0 auto;
}

.igicon:hover {
    transition: ease-in-out 0.2s;
    filter: hue-rotate(-30deg);
}